# תיאור כללי
המסמך הבא מתאר את אתר קטלוג הספרים של האיל הקורא.
האיל הקורא היא חנות ספרים יד שניה, אשר מכילה מחסן ספרים משומשים.
הספרים המשומשים במחסן זקוקים למאגר מידע אשר יכיל את המידע על הספרים.
המידע הנדרש לגבי הספרים, אופן החיפוש וקיטלוג הספר, מאגרי המידע ואופן השימוש הכללי יתוארו במסמך.
במקרים אשר אופן השימוש אינו מתואר באופן ברור וחד משמעי, יש לשאול שאלות מנחות כדי ליצור את אופן השימוש במדויק.

# local location of website
C:\Users\user\Google Drive Streaming\My Drive\Work\Simania Eyal\Ayal_Kore\website
This would be the primary location of the website.
Later on it would be uploaded it github .io website.

# מאגר הנתונים הבסיסי
- לקטלוג שנבנה על ידי דאנאקוד נרצה להוסיף עמודות מידע משל עצמנו. לשם כך, בייבוא הראשוני של רשימת דאנאקוד,
נצמיד לכל ספר מספר סידורי פנימי.
מספר סידורי פנימי זה ישמש כתעודת זהות של הספר, 
ויאפשר לחבר לו ולקשר לו טבלאות ומאגרי מידע נוספים בהתבסס על מספר סידורי פנימי בלבד ללא צורך בשאר השדות.
המספר הסידורי הפנימי דרוש גם כדי להוסיף ספרים אשר לא קיים להם מספר סידורי של דאנאקוד.
למשל בספרים ישנים מאוד לא קיים מספר דאנאקוד על הספר, וכך גם לא קיים הברקוד אשר מקושר אליו.

- לכל ספר הנמצא בקטלוג דאנקוד הראשי ייתכנו כמה עותקים הנמצאים במחסן הספרים.
נרצה להחזיק רשימת מלאי לכל ספר.
רשימת המלאי תכלול את מספר הסידורי הפנימי של הספר,
מצב הספר,
כמות עותקים עבור מצב הספר,
ומחיר.
כך למשל עבור ספר עם מספר סידורי פנימי 10,
טבלה אפשרית תיראה בצורה הבאה
-----------------------------------------
מספר סידורי פנימי 1053
מצב:  טוב     מספר עותקים: 3	מחיר: 20
מצב:  בינוני   מספר עותקים: 1    מחיר: 10
-----------------------------------------
שים לב המחיר נקבע חד ערכית עבור כל העותקים באותו מצב של הספר.
זאת למעט עותקי ספרים מיוחדים, אשר מחירם נקבע לכל עותק בנפרד, ומכילים גם שדות תיאור נוספים.
התיאור עבור הנתונים של ספרים מיוחדים יתוארו בהמשך. 

- לכל ספר הנמצא במחסן הספרים יכולים להיות כמה מצבים.
מצבים אלו משפיעים על מחיר הספר, בין השאר.
המצבים האפשריים לספר הם:
חדש
מצוין / כחדש
טוב
בינוני

- מצבי הספר יתוארו באמצעות מסד נתונים, אשר יהיה ניתן להוסיף או להוריד ממנו תיאורי מצבים.
בעת הקטלוג, מצב הספר ייבחר באמצעות רשימה נפתחת, אשר בו יוצגו כל מצבי הספר האפשריים.

- לכל ספר הנמצא במסד הנתונים של דאנאקוד נרצה להוסיף שדות נתונים חדשים משל עצמנו.
שדות אלו אינם נמצאים מלכתחילה במסד הנתונים של דאנאקוד.
השדות הללו ישמרו כשורה במסד נתונים נפרד, ויקושרו למאגר הראשי באמצעות מספר סידורי פנימי של הספר.
השדות הנוספים אשר נרצה להוסיף לכל ספר הם:
------
מספר סידורי פנימי, אשר משמש לקישור לרשימה הראשית
כותרת משנה
מתרגם
הוצאה לאור
שנה
מספר עמודים
כריכה
גודל
שם סדרה
מספר בסדרה
----------

- עותקים מיוחדים של ספרים - לכל ספר ייתכנו עותקים מיוחדים של הספר.
לכל עותק מיוחד, המחיר נקבע עבור כל עותק בנפרד ולא כמאגר עותקים.
העותקים המיוחדים יקושרו לרשימה הראשית באמצעות מספר סידורי פנימי,
ותכלול את השדות
מספר סידורי פנימי
מחיר
הערות מיוחדות
הערות על מצב הספר

- הערות על מצב הספר תהיה רשימה של מסד נתונים עם הערכים הבאים,
אשר ניתנים לסימון כמו תיבת סימון:
------
סימונים / מרקורים
שדרה מודבקת
כתמי חלודה
----
מתאפשרת בחירה מרובה, כלומר ניתן לסמן כמה מצבים בו זמנית.
כלל המצבים שסומנו יופיעו תחת השדה "הערות על מצב הספר".




