# תיאור כללי
המסמך הבא מתאר את אתר קטלוג הספרים של האיל הקורא.
האיל הקורא היא חנות ספרים יד שניה, אשר מכילה מחסן ספרים משומשים.
הספרים המשומשים במחסן זקוקים למאגר מידע אשר יכיל את המידע על הספרים.
המידע הנדרש לגבי הספרים, אופן החיפוש וקיטלוג הספר, מאגרי המידע ואופן השימוש הכללי יתוארו במסמך.
במקרים אשר אופן השימוש אינו מתואר באופן ברור וחד משמעי, יש לשאול שאלות מנחות כדי ליצור את אופן השימוש במדויק.

# local location of website
This would be the primary location of local:
"C:\Users\user\Google Drive Streaming\My Drive\Work\Simania Eyal\Ayal_Kore\"
The location of the related git repository and website is
https://github.com/gitDawn/ayal-kore
primary requirements file is 
"C:\Users\user\Google Drive Streaming\My Drive\Work\Simania Eyal\Ayal_Kore\Ayal Kore Requirements.txt"

# Danalog Catalog fields in database and description
זהו קטלוג דאנאקוד או דאנאלוג, ואלו העמודות והרשמות שהוא מכיל על כל ספר
Danalog Catalog Columns:
ש.לפריט - Item serial number
דאנאקוד - Danalog code
שם - Name/Title
ק.מחלקה - Department code
ת.מחלקה - Department description
מחיר - Price
מ.מיוחד - Special price
מ.מיוחד1 - Special price 1
לימוד - Study/Educational
מאושר - Approved
ק.יצרן - Manufacturer code
יצרן - Manufacturer
ק.מחבר - Author code
מחבר - Author
ק.נושא - Subject code
נושא - Subject
אזל - Out of stock
ברקוד - Barcode
ברקוד-נ - Barcode-N (alternative)
פמי.ר - PMI.R
פמי.מ - PMI.M
ת.פתיחה - Opening date
ת.עדכון - Update date
ת.מה.ראשונה - First edition date

# מאגר הנתונים הבסיסי
- לקטלוג שנבנה על ידי דאנאקוד נרצה להוסיף עמודות מידע משל עצמנו. לשם כך, בייבוא הראשוני של רשימת דאנאקוד,
נצמיד לכל ספר מספר סידורי פנימי.
מספר סידורי פנימי זה ישמש כתעודת זהות של הספר, 
ויאפשר לחבר לו ולקשר לו טבלאות ומאגרי מידע נוספים בהתבסס על מספר סידורי פנימי בלבד ללא צורך בשאר השדות.
המספר הסידורי הפנימי דרוש גם כדי להוסיף ספרים אשר לא קיים להם מספר סידורי של דאנאקוד.
למשל בספרים ישנים מאוד לא קיים מספר דאנאקוד על הספר, וכך גם לא קיים הברקוד אשר מקושר אליו.

- לכל ספר הנמצא בקטלוג דאנקוד הראשי ייתכנו כמה עותקים הנמצאים במחסן הספרים.
נרצה להחזיק רשימת מלאי לכל ספר.
רשימת המלאי תכלול את מספר הסידורי הפנימי של הספר,
מצב הספר,
כמות עותקים עבור מצב הספר,
ומחיר.
כך למשל עבור ספר עם מספר סידורי פנימי 10,
טבלה אפשרית תיראה בצורה הבאה
-----------------------------------------
מספר סידורי פנימי 1053
מצב:  טוב     מספר עותקים: 3	מחיר: 20
מצב:  בינוני   מספר עותקים: 1    מחיר: 10
-----------------------------------------
שים לב המחיר נקבע חד ערכית עבור כל העותקים באותו מצב של הספר.
זאת למעט עותקי ספרים מיוחדים, אשר מחירם נקבע לכל עותק בנפרד, ומכילים גם שדות תיאור נוספים.
התיאור עבור הנתונים של ספרים מיוחדים יתוארו בהמשך. 

- לכל ספר הנמצא במחסן הספרים יכולים להיות כמה מצבים.
מצבים אלו משפיעים על מחיר הספר, בין השאר.
המצבים האפשריים לספר הם:
חדש
מצוין / כחדש
טוב
בינוני

- מצבי הספר יתוארו באמצעות מסד נתונים, אשר יהיה ניתן להוסיף או להוריד ממנו תיאורי מצבים.
בעת הקטלוג, מצב הספר ייבחר באמצעות רשימה נפתחת, אשר בו יוצגו כל מצבי הספר האפשריים.

- לכל ספר הנמצא במסד הנתונים של דאנאקוד נרצה להוסיף שדות נתונים חדשים משל עצמנו.
שדות אלו אינם נמצאים מלכתחילה במסד הנתונים של דאנאקוד.
השדות הללו ישמרו כשורה במסד נתונים נפרד, ויקושרו למאגר הראשי באמצעות מספר סידורי פנימי של הספר.
השדות הנוספים אשר נרצה להוסיף לכל ספר הם:
------
מספר סידורי פנימי, אשר משמש לקישור לרשימה הראשית
כותרת משנה
מתרגם
הוצאה לאור
שנה
מספר עמודים
כריכה
גודל
שם סדרה
מספר בסדרה
----------

- עותקים מיוחדים של ספרים - לכל ספר ייתכנו עותקים מיוחדים של הספר.
לכל עותק מיוחד, המחיר נקבע עבור כל עותק בנפרד ולא כמאגר עותקים.
העותקים המיוחדים יקושרו לרשימה הראשית באמצעות מספר סידורי פנימי,
ותכלול את השדות
מספר סידורי פנימי
מחיר
הערות מיוחדות
הערות על מצב הספר

- הערות על מצב הספר תהיה רשימה של מסד נתונים עם הערכים הבאים,
אשר ניתנים לסימון כמו תיבת סימון:
------
סימונים / מרקורים
שדרה מודבקת
כתמי חלודה
----
מתאפשרת בחירה מרובה, כלומר ניתן לסמן כמה מצבים בו זמנית.
כלל המצבים שסומנו יופיעו תחת השדה "הערות על מצב הספר".

## operative books website
This part describe how to implement the books catalog website.
The implementation should be done locally in code and later submitted to github,
at the locations mentioned in this document.
Before each new implementation, check if code and databases already exists.
If yes - check what it is and ask user what to do.
If no, proceed with implementation.

All the code should run and be avialable at 
https://gitdawn.github.io/ayal-kore/

The books website in primary git folder would have three parts:
1. Add danalog database
This would let the user select excel file in the browser, and upload it into website danalog database.
 - If there is no danalog database in website, 
the website would upload the list as a new database, 
where each row is a new record, and assign new "ID" field with rolling numbers to each new record.
Each new record that is added should have "ID" value that is unique, 
and not already in danalog database.
- If there is already danalog Catalog in website, 
the website would look if each record already exists in website by the "דאנאקוד" field.
if the new record already exists - it would skip it.
if the new record doesn't exists - it would add it to the website danalog catalog with a new "ID" unique number as mentioned before.

2. Search website catalog 
If danalog catalog existing in website, this part would allow to search for books.
The search would be done by selecting the website Catalog Column, and then enther free text in the box next to it, then hit the "search" button.
The website then would show all the books records that matches the search.

The following fields are not important and would not be presented to the user for the records that are found:
ש.לפריט
ק.מחלקה
מ.מיוחד
מ.מיוחד1
לימוד
מאושר
ק.יצרן
יצרן
ק.מחבר
ק.נושא
אזל
ברקוד-נ
פמי.ר
פמי.מ





